<% content_for :header do %>
	<div class="header">
		<nav class="navbar">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="/#">Lehrer</a>
		  </div>
		</nav>
	</div>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<%= render "users/sign_up" %>
				</div>
				<div class="col-md-2">
					<div class="divider">
					</div>
				</div>
				<div class="col-md-6">
					<%= render "users/sign_in" %>
				</div>
			</div>
		</div>
	</div>
</div>

<% content_for :footer do %>
<footer class="footer">
  <div class="footer-copyright text-center"><i class="fa fa-heart"></i> | <i class="fa fa-coffee"></i> |  RockyJ</div>
</footer>
<% end %>
